[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
flask = "*"
flask-bcrypt = "*"
flask-restplus = "*"
flask-migrate = "*"
pyjwt = "*"
flask-script = "*"
flask-testing = "*"
awsebcli = "*"
psycopg2 = "~=2.7.1"

[requires]
python_version = "3.7"
